<h1>New Author</h1>
<%= form_for :author do %>
  <p>
    <%= label_tag :first_name %><br>
    <%= text_field_tag :first_name %>
  </p>
  <p>
    <%= label_tag :last_name %><br>
    <%= text_field_tag :last_name %>
  </p>
  <p>
    <%= label_tag :homepage %><br>
    <%= text_field_tag :homepage %>
  </p>
 
<% end %>