<h1>New Author</h1>
<%= form_for :author do |f| %>
  <p>
    <%= f.text_field(:first_name, placeholder: 'First Name') %>
  </p>
  <p>
    <%= f.text_field(:last_name, placeholder: 'Last Name') %>
  </p>
  <p>
    <%= f.text_field(:homepage, placeholder: 'Homepage') %>
  </p>
  <p>
  	<%= f.submit "Create Author" %>
  </p>
 
<% end %>