<h1>Edit Paper</h1>
<%= form_for :paper, url: paper_path, method: :patch do |f| %>

  <% if @paper.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@paper.errors.count, "error") %> prohibited
        this paper from being saved:
      </h2>
      <ul>
        <% @paper.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field(:title, placeholder: 'Title') %>
  </p>
  <p>
    <%= f.text_field(:venue, placeholder: 'Venue') %>
  </p>
  <p>
    <%= f.text_field(:year, placeholder: 'Year') %>
  </p>

  <% (1..5).each do |i| %>
      <%= f.label "Author #{i}" %>
      <%= f.collection_select(:author_ids, Author.all, :id, :name, {selected: @paper.author_ids[i-1], include_blank: '(none)'}, {id: "paper_Author #{i}"}) %>
      </br>
  <% end %>
  <p>
  	<%= f.submit "Update Paper" %>
  </p>
 
<% end %>