<h1>New paper</h1>
<%= form_for :paper, url: papers_path do |f| %>

    <% if @paper.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@paper.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @paper.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <p>
    <%= f.text_field(:title, placeholder: 'Title') %>
  </p>
  <p>
    <%= f.text_field(:venue, placeholder: 'Venue') %>
  </p>
  <p>
    <%= f.text_field(:year, placeholder: 'Year') %>
  </p>
  <p>
  	<%= f.submit "Create Paper" %>
  </p>

<% end %>